<div class="homepage__circle">
    <img class="homepage__circle_img"
         src="./src/img/homepage.png"
         alt="изображние домашней страницы"/>
</div>
<img class="homepage__logo" src="../../../public/src/icons/logo.svg"/>
<div class="homepage__btns">
    {{>components/btn href="./src/partials/pages/signin.hbs" type="button" class="homepage" label="Вход" }}
    {{>components/btn label="Регистрация" href="./src/partials/pages/registration.hbs" type="button" class="homepage"}}
</div>

