<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messengery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style.scss">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="signin">
                <div class="signin__circle">
                    <form class="signin__form">
                        {{>components/input type="text" name="login" label="введите логин" }}
                        {{>components/input type="password" name="password" label="введите пароль" }}
                        {{>components/btn href="./menu.hbs" type="button" class="signin__form_submit" label="Войти"}}
<!--                        {{>components/btnSubmit class="signin__form_submit" label="Войти"}}-->
                    </form>
                </div>
                <img class="signin__logo" src="../../../public/src/icons/logo.svg"/>
                <a href="resetPasword.hbs" class="signin__link fz-30 colored">
                    Забыли пароль?
                </a>
            </div>
        </div>
    </div>
</body>
</html>