<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messengery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../index.b2d9cf43.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="signin">
                <div class="signin__circle">
                    <form class="signin__form">
                        <div class="input__wrapper">
                            <label class="input__label fz-32"> введите логин </label>
                            <input class="input fz-24" type="text" name="login" required>
                        </div>
                        <div class="input__wrapper">
                            <label class="input__label fz-32"> введите пароль </label>
                            <input class="input fz-24" type="password" name="password" required>
                        </div>                        
                        <a type="button" class="btn fz-30 signin__form_submit" href="menu.html"> Войти </a><!--                        <button type="" class="btn fz-30 signin__form_submit">Войти</button>-->
                    </form>
                </div>
                <img class="signin__logo" src="../../icons/logo.svg">
                <a href="resetPasword.html" class="signin__link fz-30 colored">
                    Забыли пароль?
                </a>
            </div>
        </div>
    </div>
</body>
</html>
