<div class="popup__layout">
    <div class="popup__open">
        <span class="popup__open-text fz-40b">
            Удалить контакт?
        </span>
        <div class="popup__open-btns">
            <button type="button" class="fz-40">да</button>
            <button type="button" class="fz-40">нет</button>
        </div>
    </div>
</div>