@import "../base/variables";
.message {
    margin-left: 10px;
    &__item {
        display: flex;
        flex-direction: row;
        width: 225px;
        &_body {
            margin-top: 10px;
            color: #5b6976;
        }
        &_wrapper {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &_btns {
//            margin-left: 10px;
            display: flex;
            flex-direction: column;
            button {
                background: #FFFFFF;
                border: 1px solid $main-color;
                cursor: pointer;
                border-radius: 20px;
                width: 30px;
                height: 30px;
                &.messaging {
                    margin-bottom: 10px;
                    & img {
                        width: 20px;
                        height: 17px;
                    }
                }
                &.deleting img {
                    width: 20px;
                    height: 30px;
                }
                &:hover {
                    background: rgba(80, 86, 103, 0.22);
                }
            }
        }
    }
}
