@import "../base/variables";

.contacts {

  background: $sub-color;
  width: 418px;
  height: 90vh;
  box-shadow: -4px 17px 30px rgba(0, 0, 0/ 0.09);
  border-radius: 30px;
  margin-left: 27px;
  padding: 10px 27px;

  &.small {
    width: 130px;
  }

  &__header {
    text-align: center;

    &.hidden {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin-top: 42px;
    flex-direction: column;
    align-items: start;

    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 17px;
      position: relative;

      & .user {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }

      &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.hidden {
          display: none;
        }
      }

      &-text {
        margin-left: 18px;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        span {
          margin-top: 5px;
        }

        .offline {
          color: #CACACA;
        }

        .online {
          color: $light
        }
      }

      &-btn {
        display: block;
        cursor: pointer;
        margin-left: 16px;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background: $sub-color;
        border: 1px solid $main-color;

        img {
          display: block;
          width: 30px;
          height: 30px;
          margin: 0 auto;
        }
      }

      &-btn:hover {
      background: $light;
    }

      & .status {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 1;
        border: 3px solid #FFF;
        position: absolute;
        left: 60px;
        top: 60px;

        &.online {
          background: $light;
        }

        &.offline {
          background: #CACACA;
        }
      }
    }
  }
}