@import "../base/variables";

.contacts {
  background: $sub-color;
  width: 418px;
  height: 90vh;
  box-shadow: -4px 17px 30px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  margin-left: 27px;
  padding: 10px 27px;

  &.small {
    width: 130px;
  }

  &__header {
    margin-top: 15px;
    text-align: center;

    &.hidden {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin-top: 42px;
    padding-top: 10px;
    flex-direction: column;
    align-items: start;
    height: 70%;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 11px;
      border: 1px solid #DCDDE0;
      background: #EDF0F3;
    }
    &::-webkit-scrollbar-thumb {
      background: #263238;
      border-radius: 18px;
    }
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 17px;
      position: relative;
      & .user {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
      }
      &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        &.hidden {
          display: none;
        }
      }
      &-text {
        margin-left: 18px;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          margin-top: 5px;
        }
        .offline {
          color: #CACACA;
        }
        .online {
          color: $light
        }
      }
      &-btn {
        display: block;
        cursor: pointer;
        margin-left: 16px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: $sub-color;
        border: 1px solid $main-color;
        img {
          display: block;
          width: 25px;
          height: 25px;
          margin: 0 auto;
        }
      }

      &-btn:hover {
      background: $light;
    }

      & .status {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        opacity: 1;
        border: 3px solid #FFF;
        position: absolute;
        left: 50px;
        top: 55px;

        &.online {
          background: $light;
        }

        &.offline {
          background: #CACACA;
        }
      }
    }
  }
  &__footer {
    margin-top: 30px;
    position: relative;
    &-label {
      display: block;
      position: absolute;
      height: 40px;
      width: 160px;
      text-align: center;
      background: $sub-color;
      margin-left: 30px;
      font-size: 16px;
    }
    &-input {
      margin: 0 auto;
      display: block;
      background: #FFFFFF;
      border: 1px solid $main-color;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      width: 344px;
      height: 51px;
      padding-left: 20px;
    }
    &-submit {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 103px;
      height: 51px;
      background: #363A44;
      border: 1px solid #363A44;
      border-radius: 12px;
      cursor: pointer;
      color: $sub-color;
      font-size: 17px;
      line-height: 22px;
    }
  }
}
