@import "../base/variables";

.settings {
  width: 74vw;
  height: 90vh;
  background: $sub-color;
  margin-left: 20px;
  box-shadow: -4px 17px 30px rgba(0 0 0 / 0.1);
  border-radius: 30px;
  position: relative;
  &__header {
//    display: flex;
////    grid-auto-columns: 200px;
////    grid-auto-rows: 70px;
//    flex-direction: row-reverse;
//    justify-content: space-between !important;
//    align-items: baseline;
    padding: 54px 64px 0 64px;
    margin-bottom: 60px;
    .settings-error {
      padding-top: 5px;
      display: block;
      position: absolute;
      width: 450px;
      right: 40px;
    }
    &-avatar {
      width: 250px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-size: 20px;
      &.input__wrapper {
//        width: 100%;
//        margin-right: 180px;
        margin-left: 40px;
      }

      img {
        width: 135px;
        height: 135px;
        object-fit: fill;
        border-radius: 50%;
      }
    }
    .settings__header-container {
      margin-top: -20px;
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }

  &__inputs {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    width: 100%;
    .settings-error {
      margin-left: 30px;
    }
    &-submit {
      position: absolute;
      bottom: 35px;
      right: 60px;

      button {
        width: 200px;
        height: 45px;
        padding: 10px;
        padding-bottom: 6px;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        &.input__reset {
          width: 300px;
        }
        &:disabled {
          background: #e8e8e8;
        }
      }
    }
  }
}

.input__wrapper-add {
  width: 222px;
  height: 33px;
  background: $sub-color;
  border: 1px solid rgba(91, 105, 118, 0.58);
  border-radius: 30px;
  color: rgba(91, 105, 118, 0.58);
  position: absolute;
  text-align: center;
  padding: 7px;
  top: 70px;
  cursor: pointer;

  &.file {
    position: absolute;
    opacity: 0;
    top: 70px;
    cursor: pointer;
  }
}
