<div class="popup__layout">
    <div class="popup__open">
        <span class="popup__open-text fz-40b">
						Удалить переписку с контактом {{popupText}}?
        </span>
        <div class="popup__open-btns">
					{{#each Btns}} {{{this}}} {{/each}}
        </div>
    </div>
</div>
