<div class="white">
		<div class="container white">
				<div class="registration">
					{{{SectionLogo}}}
						<div class="registration__circle">
							{{{RegistrationForm}}}
						</div>
				</div>
		</div>
</div>
