<div class="contacts ">
    <h3 class="contacts__header fz-24 ">
        Мои контакты
    </h3>
    <div class="contacts__list">
        <div class="contacts__list_item">
            <img src="../../icons/user1.f889a263.png" alt="изображение пользователя" class="user">
            <div class="status online"></div>
            <div class="contacts__list_item-wrapper">
                <div class="contacts__list_item-text">
                    Иванова Мария
                    <span class="online"> сейчас онлайн </span>
                </div>
                <button type="button" class="contacts__list_item-btn mess">
                    <img src="../../icons/message.d0157a52.svg" alt="сообщение">
                </button>
                <button type="button" class="contacts__list_item-btn trash">
                    <img src="../../icons/trash.10cff513.svg" alt="удаление">
                </button>
            </div>
        </div>
        <div class="contacts__list_item">
            <img src="../../icons/user1.f889a263.png" alt="изображение пользователя" class="user">
            <div class="status online"></div>
            <div class="contacts__list_item-wrapper">
                <div class="contacts__list_item-text">
                    Сидорова Катя
                    <span class="online"> сейчас онлайн </span>
                </div>
                <button type="button" class="contacts__list_item-btn mess">
                    <img src="../../icons/message.d0157a52.svg" alt="сообщение">
                </button>
                <button type="button" class="contacts__list_item-btn trash">
                    <img src="../../icons/trash.10cff513.svg" alt="удаление">
                </button>
            </div>
        </div>        <div class="contacts__list_item">
            <img src="../../icons/user1.f889a263.png" alt="изображение пользователя" class="user">
            <div class="status offline"></div>
            <div class="contacts__list_item-wrapper">
                <div class="contacts__list_item-text">
                    Иванов Иван
                    <span class="offline"> не в сети </span>
                </div>
                <button type="button" class="contacts__list_item-btn mess">
                    <img src="../../icons/message.d0157a52.svg" alt="сообщение">
                </button>
                <button type="button" class="contacts__list_item-btn trash">
                    <img src="../../icons/trash.10cff513.svg" alt="удаление">
                </button>
            </div>
        </div>
    </div>
</div>
