<div class="settings__header-avatar input__wrapper fz-25">
		<label for="{{forClass}}">
<!--				<span class="input__file--title">Изменить аватар</span>-->
				<span class="input__file--title">{{title}}</span>
		</label>
		<span class="input__wrapper-add fz-15">{{label}}</span>
<!--		<span class="input__wrapper-add fz-15"> выберете файл </span>-->
	{{{Input}}}
<!--		<input type="file" name="avatar" class="input__wrapper-add file" />-->
</div>
