<div class="container">
		<div class="signin">
				<div class="signin__circle">
						<form class="signin__form">
							{{#each LogInInputs}} {{{this}}} {{/each}}
							{{{Submit}}}
						</form>
				</div>
				{{{Logo}}}
				{{{ResetPassLink}}}
		</div>
</div>
