@import "../base/variables";

.input {
  width: 100%;
  height: 100px;
  display: block;
  padding-left: 30px;
  border: 1px solid $mainColor;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
  background: $subColor;
  border-radius: 10px;
  &__wrapper {
    position: relative;
    background-color: $subColor;
    border-radius: 10px;
  }
  &__label {
    background: $subColor;
    color: $mainColor;
    width: 390px;
    text-align: center;
    position: absolute;
    left: 50px;
    top: -25px;
  }
}