<div class="chat">
    <div class="chat__title">
        {{> components/contactItem src="../../img/user1.png" class="online" alt="изображение пользователя" name="Иванова Мария" status="в сети" }}
    </div>
    <div class="chat__wrapper">
        {{> components/chatItem src="../../img/user1.png" alt="аватарка пользователя" class="to" message="Hi there!"}}
        {{> components/chatItem src="../../img/user2.png" alt="аватарка пользователя" class="from" message="Hey dude!"}}
    </div>
    <form class="chat__form">
        <div class="input__wrapper">
            <input name="file" type="file" id="input__file" class="input input__file" multiple>
            <label for="input__file" class="input__file-button">
                <span class="input__file-icon-wrapper"><img class="input__file-icon" src="../icons/add.svg" alt="Выбрать файл" width="25"></span>
                <span class="input__file-button-text "> 3 </span>
            </label>
        </div>
        <input type="text" class="chat__input-mess"/>
        <button type="submit" class="chat__input-submit">
            <img src="../icons/send.svg">
        </button>
    </form>
</div>
