<div class="contacts ">
    <h3 class="contacts__header fz-24 ">
        Мои контакты
    </h3>
    <div class="contacts__list">
        {{>components/contactItem src="../../img/user1.png" class="online" alt="изображение пользователя" name="Иванова Мария" status="сейчас онлайн" }}
        {{>components/contactItem src="../../img/user1.png" class="online" alt="изображение пользователя" name="Сидорова Катя" status="сейчас онлайн" }}
        {{>components/contactItem src="../../img/user1.png" class="offline" alt="изображение пользователя" name="Иванов Иван" status="не в сети" }}
    </div>
</div>