<div class="homepage__circle">
    <img class="homepage__circle_img"
         src="./src/img/homepage.png"
         alt="изображние домашней страницы"/>
</div>
<img class="homepage__logo" src="./src/img/logo.svg"/>
<div class="homepage__btns">
    {{>btn href="./src/partials/signin.hbs" type="button" class="homepage" label="Вход" }}
    {{>btn label="Регистрация" href="./src/partials/registration.hbs" type="button" class="homepage"}}
</div>

