<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messengery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.scss">
</head>
<body>
    <div class="white">
        <div class="container white">
            <div class="registration">
                <img src="../img/logo_black.svg" alt="logo" class="registration__img">
                <div class="registration__circle">
                    <form class="registration__form">
                        <div class="registration__form_inputs active">
                            {{>input type="text" label="введите имя" }}
                            {{>input type="text" label="введите фамию" }}
                        </div>
                        <div class="registration__form_inputs ">
                            {{>input type="tel" label="введите телефон" }}
                            {{>input type="email" label="введите e-mail" }}
                        </div>
                        <div class="registration__form_inputs ">
                            {{>input type="text" label="введите логин" }}
                            {{>input type="password" label="введите пароль" }}
                        </div>
                        <div class="registration__form_pagination-wrapper">
                            <div class="registration__form_pagination">
                                <div class="registration__form_pagination-item active"></div>
                                <div class="registration__form_pagination-item"></div>
                                <div class="registration__form_pagination-item"></div>
                            </div>
                            <button type="button" class="registration__form_pagination-trigger">
                                <img src="../icons/next1.svg">
                            </button>
                        </div>
                        {{>btnSubmit class="submit" label="Регистрация"}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>