<div class="contacts" id="{{flag}}">
	<h3 class="contacts__header fz-24 ">
		{{header}}
	</h3>
    <div class="contacts__list">
			{{#each Items}} {{{this}}} {{/each}}
		</div>
	{{{SearchForm}}}
</div>
