
	<div class="white">
			<div class="container white">
					<div class="reset">
						{{{LogoBlack}}}
							<div class="reset__circle">
									<form class="reset__form">
										{{{Inputs}}}
										{{{Submit}}}
									</form>
							</div>
					</div>
			</div>
	</div>
