<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messengery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../index.b2d9cf43.css">
</head>
<body>
    <div class="white">
        <div class="container white">
            <div class="registration">
                <img src="../icons/logo_black.f36cc13b.svg" alt="logo" class="registration__img">
                <div class="registration__circle">
                    <form class="registration__form">
                        <div class="registration__form_inputs active">
                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите имя </label>
                                <input class="input fz-24" type="text" name="first_name" required=>
                            </div>
                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите фамию </label>
                                <input class="input fz-24" type="text" name="second_name" required="">
                            </div>
                        </div>
                        <div class="registration__form_inputs ">
                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите телефон </label>
                                <input class="input fz-24" type="tel" name="phone" required="">
                            </div>                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите e-mail </label>
                                <input class="input fz-24" type="email" name="email" required="">
                            </div>
                        </div>
                        <div class="registration__form_inputs ">
                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите логин </label>
                                <input class="input fz-24" type="text" name="login" required="">
                            </div>                            <div class="input__wrapper">
                                <label class="input__label fz-32"> введите пароль </label>
                                <input class="input fz-24" type="password" name="password" required="">
                            </div>
                        </div>
                        <div class="registration__form_pagination-wrapper">
                            <div class="registration__form_pagination">
                                <div class="registration__form_pagination-item active"></div>
                                <div class="registration__form_pagination-item"></div>
                                <div class="registration__form_pagination-item"></div>
                            </div>
                            <button type="button" class="registration__form_pagination-trigger">
                                <img src="../icons/next1.754a2249.svg">
                            </button>
                        </div>
                        <button type="submit" class="btn fz-30 ">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>