<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messengery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../index.b2d9cf43.css">
</head>
<body>
    <div class="white">
        <div class="container white">
            <div class="reset">
                <img src="../icons/logo_black.f36cc13b.svg" alt="logo" class="registration__img">
                <div class="reset__circle">
                    <form class="reset__form">
                        <div class="input__wrapper">
                            <label class="input__label fz-32"> введите e-mail </label>
                            <input class="input fz-24" type="email" name="email" required>
                        </div>                        <div class="input__wrapper">
                            <label class="input__label fz-32"> введите пароль </label>
                            <input class="input fz-24" type="password" name="password" required>
                        </div>                        <div class="input__wrapper">
                            <label class="input__label fz-32"> повторите пароль </label>
                            <input class="input fz-24" type="password" name="" required>
                        </div>
                        <button type="submit" class="btn fz-30">сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="../../resetPasword.e0a2d199.js"></script></body>
</html>