@import "./styles/base/variables";

@font-face {
  font-family: 'Comfortaa';
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Ptsg8LJRfWJmhDAuUs4SYFqL_KWxWMT.woff2) format('woff2');
}

* {
  font-family: Comfortaa;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //background-color: $mainColor;
}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  position: relative;
  &.white {
    background: $subColor;
  }
}
.background {
  width: 100%;
  height: 100vh;
  background: $mainColor;
}
.white {
  background: $subColor;
}
.fz-24 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.fz-30 {
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  &.colored {
    color: #B9E3E1;
  }
}
.fz-32 {
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}
.fz-20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 6px;
}
.colored {
  color: $light;
}



@import "styles/utils/btn";
@import "styles/utils/input";
@import "styles/partials/homepage";
@import "styles/partials/signin";
@import "styles/partials/registration";
@import "styles/partials/resetPassword";
@import "styles/utils/navItems";
@import "styles/utils/choosePage";
@import "styles/partials/menu";
@import "styles/partials/contacts";
@import "styles/partials/chat";
