<div class="homepage__circle">
    <img class="homepage__circle_img"
         src="../../img/homepage.png"
         alt="изображние домашней страницы"/>
</div>
<img class="homepage__logo" src="../../../public/src/icons/logo.svg"/>
<div class="homepage__btns">
	{{{btnSignIn}}}
	{{{btnRegistration}}}
</div>

