<div class="background">
	<div class="container">
		<div class="homepage__circle">
			{{{CircledImg}}}
		</div>
		{{{Logo}}}
		<div class="homepage__btns">
			{{{btnSignIn}}}
			{{{btnRegistration}}}
		</div>
	</div>
</div>


