<div class="settings">
    <div class="settings__header">
        <div class="settings__header-avatar">
					{{{userAvatar}}}
            <div class="settings__header-avatar input__wrapper fz-25">
								{{{settingsFileInput}}}
            </div>
        </div>
				<div class="settings__header-container">
					ваш ID: {{id}}
				</div>
			{{{Form}}}
    </div>
</div>
